<% include ../layout/head.ejs%>

<body>
<div class="back">
    <div class="container">
        <% include ../layout/nav.ejs %>
        <div class="jumbotron">
            <h1>Drivers</h1>
        </div>
        <div class="racers">
            <% allRankings.forEach(function (r) { %>
            <div class="card">
                <img class="card-img-top" src="assets/drivers/<%= r.codename %>.jpg" alt="Card image cap">
                <div class="card-block">
                    <h4 class="card-title"><a class="cardlink" target="_blank" href="<%= r.url%>"> <%= r.name %> </a></h4>
                    <p class="card-text">
                        Lifetime Points: <strong><%= r.totalPoints %></strong>
                        <br>
                        First Place Finishes: <strong><%= r.totalPoles %></strong>
                        <br>
                        Podium Finishes: <strong><%= r.totalTopThree %></strong>
                    </p>
                </div>
            </div>
            <%})%>
        </div>
    </div>
</div>

</body>


