<% include ../layout/head.ejs%>

<body>
<div class="back">
    <div class="container">
        <% include ../layout/nav.ejs %>
        <div class="jumbotron">
            <h1><%= year %>: Round <%= round %></h1>
        </div>
        <div class="racers">
            <div class="roundinfo">
                <div class="trackmap-large-container">
                    <h2><%= allResults[0].circuit %></h2>
                    <img class="trackmap-large" src="/assets/circuits_large/<%= allResults[0].circuit.split(' ').join('_').toLowerCase() %>_large.png">
                </div>
            </div>
            <table class="table table-striped">
                <tr>
                    <th>Position</th>
                    <th>Grid</th>
                    <th>Driver</th>
                    <th>Constructor</th>
                    <th>Time</th>
                    <th>Status</th>
                    <th>Points</th>
                </tr>
                <% allResults.forEach(function (r) { %>
                <tr>
                    <td><%= r.position %></td>
                    <td><%= r.grid %></td>
                    <td><%= r.driver.givenName%> <%= r.driver.familyName%></td>
                    <td><%= r.constructor.name%></td>
                    <td><%= (r.time !== 'N/A') ? moment(+r.time).format('hh:mm:ss') : 'N/A' %></td>
                    <td><%= r.status %></td>
                    <td><%= r.points %></td>
                </tr>
            <%})%>
            </table>
        </div>
    </div>
</div>

</body>