<% include ../layout/head.ejs%>

<body>
<div class="back">
    <div class="container">
        <% include ../layout/nav.ejs %>
        <div class="jumbotron">
            <h1><%= allEvents.year %></h1>
        </div>
        <div class="racers">
            <% allEvents.events.forEach(function (e) { %>
            <div class="card">
                <img class="card-img-top" src="/assets/200x200.png" alt="Card image cap">
                <div class="card-block">
                    <h4> Round <%= e.round %>
                        <br>
                        <a href="/seasons/<%=allEvents.year%>/<%=e.round%>"><%= e.circuit.name %></a>
                    </h4>
                </div>
            </div>
            <%})%>
        </div>
    </div>
</div>

</body>
